{% extends "layout.html" %}

{% block title %}IPPT Score Calculator - Explanation{% endblock %}

{% block navlinks %}
    <a class="nav-link" href="/">IPPT Score Calculator</a>
    <a class="nav-link" href="/info">More Information</a>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="info-title">Brief Background</h2>
    <p>
        The <a class="external-link" href="https://en.wikipedia.org/wiki/Individual_physical_proficiency_test">IPPT, or Individual Physical Proficiency Test</a>, is a standardized physical fitness test used by the Singapore Armed Forces (SAF), Singapore Police Force (SPF) and the Singapore Civil Defence Force (SCDF) to assess the physical fitness of their members.
                    <br><br>
                        IPPT is applicable to all medically-eligible persons with <a class="external-link" href="https://www.ns.sg/web/portal/nsmen/home/nstopics/ippt-nsfit">National Service (NS)</a> liability which includes career professionals in these 3 forces, active conscripts and reservist personnel (or more commonly known as National Servicemen or NSMen).
                    <br><br>
    </p>
    <h2 class="info-title">Scoring</h2>
    <p>
        It consists of 3 stations - push-ups, sit-ups and the 2.4km run. The push-ups and sit-ups stations each have a 1 minute time limit.
        <br>
        Push-ups and sit-ups stations each have a maximum attainable score of 25, while the 2.4km run station has a maximum attainable score of 50.
        <br>
        The maximum attainable score for the IPPT is 100.
        <br><br>
        The scoring is normalized via an age group system where younger and presumably fitter persons are in a lower age group and older people are in a higher age group.
        <br>
        For example, if you are in age group 1 (the youngest age group for anyone below 22 years old), to get a maximum score of 25 in push-ups, you will need to do 60 reps in 1 minute.
        <br>
        However, if you were in age group 10 (ages 46-48), to get the same score, you will need to do just 49 push-ups in 1 minute.
        <br>
        A similar age-based score system is applied for the other 2 stations as well where the requirements to get a higher score is tougher for younger persons.
        <br><br>
    </p>

    <h2 class="info-title">Award and Incentive System</h2>
    <p>
        To incentivise people with NS liability to maintain their physical fitness, the Singapore Government has rolled out the
        <a class="external-link" href="https://en.wikipedia.org/wiki/Individual_physical_proficiency_test">IPPT Incentive Awards</a> to provide monetary awards of varying amounts according to an individual's IPPT performance.
        <br><br>
        This can only be claimed once every year for each eligible individual (i.e. full-time/career members of the three forces and eligible reservist personnel).
        <br><br>
        For example, if you took a test in March 2023 and attained the Silver award, you will receive $300.
        <br>
        If you decide to attempt again at a later date, say sometime in June 2023, and you attain the Gold award, you will receive $200 to reflect the improvement from Silver to Gold (the Gold award is $500).
        <br><br>
        There is no penalty if you attain a lower award type in a subsequent attempt (i.e. you will not need to pay back the difference if you attain an award lower than your initial attempt in subsequent attempts).
        <br><br>
    </p>
</div>
{% endblock %}
